body {
    background-color: lightgray;
}

.bikes {
    margin: 1%;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: darkgray;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bikeContainer {
    background-color: darkslategrey;
    color: white;
    width: 22%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.arrow {
    color: black;
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
}

.dropdownMenu a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.dropdownMenu a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
}

.dropdownMenu a:hover {
    background-color: lightgray;
}